name: Export

on: push

jobs:
  export:
    runs-on: windows-latest
    name: Export PsBuilder
    steps:
      - uses: actions/checkout@v2
      - run: cd .\
      - name: Remove ğš’ğš—ğš’ğš from name of script
        run: mv ".\PsBuilder.init.ps1" ".\PsBuilder.ps1"
      - uses: actions/upload-artifact@v2
        with:
          name: app
          path: .\PsBuilder.ps1
